node_modules/
.env
.env.local
.env.*.local
.emv.*
.DS_Store
npm-debug.log*
config/private.json
apps/dashboard/.env
apps/dashboard/.next/
packages/gcp-functions/node_modules/
dist/
.config/gcloud*
config/private.json
